<div ng-controller="namesCtrl">
	<table cellpadding="2" cellspacing="2" border="1">
		<tr style="border: solid 1px"> 
			<th> 
				ID
			</th>
			<th>
				Task
			</th>
			<th>
				Time
			</th>
			<th>
				Option
			</th>
		</tr>
		<tr ng-repeat="x in tasks"> 
			<td>
				{{x.eID}}
			</td>
			<td>
				{{x.task}}
			</td>
			<td >
				{{x.time}}
			</td>
			<td>
			<a href="#" ng-click="del(x.eID)">Delete</a>
			<a href="#" ng-click="selectEdit(Task.ID)">Edit</a>

			</td>
		</tr>
	</table>
</div>

