<form name="reviewForm" ng-submit="reviewForm.$valid && revCtrl.addReview(dep)" novalidate>
  <!--  Live Preview -->
  <blockquote>
    {{revCtrl.review.body}}
	<cite>-{{revCtrl.review.author}}</cite>
  </blockquote>

  <!--  Review Form -->
  <h4>Submit a Review</h4>
  <fieldset>
    <textarea ng-model="revCtrl.review.body" class="form-control" placeholder="Write a short review of the department..." title="Review" required></textarea>
  </fieldset>
  <fieldset class="form-group">
    <input ng-model="revCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required />
  </fieldset>
  <div>
  	Form is {{reviewForm.$valid}}
  </div>
  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
  </fieldset>
</form>
